<div class="head">
  <div class="header">Message Board</div>
  <a href="/new">Add Message</a>
</div>

<script>
  document.querySelector(".header").addEventListener("click", function () {
    window.location.href = "/";
  });
</script>
